.DS_Store
Thumbs.db

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

*.bak
*.log

target
pivotal-gemfire-9.*
stash/

lab-projects/**/locator
lab-projects/**/server[1-9]

docs/questions/output/questions-1_0.txt

.gradle
